@tailwind base;
@tailwind components;
@tailwind utilities;

/* Autofill text color */
input:-webkit-autofill {
  -webkit-line-1-fill-color: #71717a; /* zinc-500 */
}

/* Typewriter Effect Keyframes */
:root {
  --typing-duration: 1.5s; /* Typing duration for subtitle */
  --blink-duration: 1s; /* Blink duration for cursor */
  --stop-cursor-duration: 2.5s; /* typing-duration + blink-duration */
  --typing-steps-subtitle: 20; /* Characters in subtitle */
}

@keyframes typing {
  from {
    max-width: 0;
  }
  to {
    max-width: 100%;
  }
}

@keyframes blink-cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes stop-cursor {
  to {
    border-color: transparent;
  }
}

/* Typewriter Effect Styles */
.subtitle {
  overflow: hidden;
  border-right: 0.2rem solid;
  white-space: nowrap;
  color: #ffbf00; /* amber-500 */
  border-color: #ffbf00;
  animation: typing var(--typing-duration)
      steps(var(--typing-steps-subtitle), end) forwards,
    blink-cursor var(--blink-duration) ease-in-out var(--typing-duration)
      infinite,
    stop-cursor 0.01s var(--stop-cursor-duration) forwards;
}
